body {
  background-color: #FFFFFF;
  color: #111111;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  font-weight: 300;
}

a:link, a:visited {
  color: #000000;
}

a:hover {
  color: #666666;
}

.social_icons {
  background-color: #EEEEEE;
  padding: 8px;
  margin: 4pt;
  width: 32px;
  height: 32px;
}

.social_icons:hover {
  background-color: #CDCDCD;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 13pt;
  line-height: 180%;
  vertical-align: middle;
  width: 380pt;
}

.header {
  letter-spacing: 2pt;
  font-size: 14pt;
  padding-top: 25pt;
  padding-bottom: 40pt;
  margin-bottom: 20pt;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px solid #CCCCCC;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3pt;
  word-spacing: 5pt;
  font-size: 30pt;
  font-weight: 700;
  padding-top: 60pt;
  padding-bottom: 40pt;
}

.project_media {
  margin: auto;
  width: 300pt;
  display: block;
  padding: 5pt;
  box-shadow: 2px 2px 5pt #CDCDCD;
}

.project_title {
  color: #222222;
  font-weight: 400;
  font-size: 16pt;
  margin-bottom: 5pt;
  padding-top: 10pt;
}

.project_item {
  text-align: center;
  color: #555555;
  width: 360pt;
  padding: 10pt;
  margin-bottom: 50pt;
}

video::-webkit-media-controls {
  display:none !important;
  opacity: 0;
}

.sf_icon {
  width: 22pt;
  height: 22pt;
}

@media screen and (max-width: 720px) {

.header {
  letter-spacing: 1pt;
  font-size: 13pt;
  padding-top: 25pt;
  padding-bottom: 15pt;
  text-align: center;
}

.title {
  letter-spacing: 3pt;
  word-spacing: 3pt;
  font-size: 20pt;
  padding-top: 30pt;
  padding-bottom: 20pt;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 12pt;
  max-width: 200pt;
}

.project_media {
  margin: auto;
  width: 180pt;
  display: block;
  padding: 3pt;
  box-shadow: 2px 2px 5pt #CDCDCD;
}

.project_item {
  width: 190pt;
  padding: 5pt;
  margin-top: 10pt;
  margin-bottom: 30pt;
}

}