
@font-face {
font-family: "FransSans";
src: url("fonts/FransSans/FranSans-Solid.otf");
}

@font-face {
font-family: "NotoSans";
src: url("fonts/NotoSans/NotoSans-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'NotoSans', sans-serif;
  text-decoration: none;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #000000;
}

a:hover {
  color: #666666;
}

.social_icons {
  padding: 5pt;
  width: 30pt;
  height: 30pt;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 12pt;
  line-height: 200%;
  vertical-align: middle;
  width: 100%;
}

.header {
  padding-top: 25pt;
  padding-left: 5pt;
  padding-right: 5pt;
  text-align: center;
}

.social_row {
  text-align: center;
  padding-top: 10pt;
  padding-bottom: 40pt;
}

h1 {
  font-family: 'FransSans', sans-serif;
  font-size: 40pt;
  font-weight: bold;
  padding-top: 20pt;
}

h2 {
  font-family: 'FransSans', sans-serif;
  font-size: 13pt;
  text-align: center;
}

.project_media {
  border-radius: 8pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500pt;
  max-height: 350pt;
  object-fit: cover;
}

h3 {
  font-family: 'FransSans', sans-serif;
  color: #222222;
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 5pt;
}

.project_item {
  font-size: 14pt;
  text-align: left;
  color: #555555;
  max-width: 500pt;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20pt;
}

video::-webkit-media-controls {
  display:none !important;
  opacity: 0;
}

@media screen and (max-width: 720px) {

.project_media {
  border-radius: 0;
}

}
