@font-face {
font-family: "Comfortaa";
src: url("fonts/Comfortaa/static/Comfortaa-Regular.ttf");
}

@font-face {
font-family: "Noto Sans";
src: url("fonts/Noto_Sans/NotoSans-Bold.ttf");
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
  font-weight: 300;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #000000;
}

a:hover {
  color: #666666;
}

.social_icons {
  padding: 5pt;
  width: 30pt;
  height: 30pt;
}

.contents {
  margin-right: auto;
  margin-left: auto;
  font-size: 12pt;
  line-height: 180%;
  vertical-align: middle;
  width: 100%;
}

.header {
  padding-top: 25pt;
  text-align: center;
}

.social_row {
  text-align: center;
  padding-top: 25pt;
  padding-bottom: 25pt;
}

.title {
  font-size: 30pt;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding-top: 35pt;
  padding-bottom: 35pt;
}

.subtitle {
  font-size: 10pt;
  text-align: center;
  text-transform: uppercase;
}

.project_media {
  border-radius: 3pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500pt;
  max-height: 350pt;
  object-fit: cover;
}

.project_title {
  color: #222222;
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 5pt;
  padding-top: 20pt;
}

.project_item {
  font-size: 11pt;
  text-align: center;
  color: #555555;
  max-width: 500pt;
  padding: 10pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20pt;
}

video::-webkit-media-controls {
  display:none !important;
  opacity: 0;
}

@media screen and (max-width: 720px) {

.subtitle {
  font-size: 8pt;
}

.project_media {
  border-radius: 0;
}

}
